body{
    height: 100vh;
    overflow: hidden;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.profile-pic {
    border-radius: 50%;
}

#menu-link{
    padding-left: 10px;
}

main{
    margin-right: 25%;
    margin-top: 8%;
    margin-left: 25%;
    text-align: center;
}

.img{
    margin-bottom: 10px;
}

.input{
    margin: 10px 0px;
    border: none;
    border-radius: 20px;
    border: 1px solid gray;
    padding: 5px 30px;
    /*
        margin-top. margin-bottom ->  a pixel
        margin-right, margin-left -> b px
    */
}